{% extends 'contr_clienti/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">    
            <div class="article-metadata">    
                <class="mr-3" href="#"> Act Aditional <b> / </b>  <br>  
                <small class="text-muted mr-3"> Nr. reg.: </small>  
            </div>    
            <h2 class="article-title"> </h2> 
            <small class="text-muted"> Perioadă contractuală cf. act aditional: <b> - </b></small> <br>
            <small class="text-muted"> Contract: <b> / </b></small> <br>
            <small><ol>
               
            </ol></small>
            
            <div class="article-metadata">    
                <small class="text-muted mr-3"> Observatii:</small> 
            </div>    
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Actualizeaza date Act Aditional</a> 
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Sterge Act Aditional</a> 
        </div>    
    </article>
{% endblock content %}