{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Act Aditional nou</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Salveaza act aditional</button>
                <a class="btn btn-outline-secondary" href="{% url 'contract-detail' contract.id %}"">Renunta</a>
            </div>
        </form>
    </div>

{% endblock content %}