{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load bootstrap4 %} 
{% bootstrap_css %}   
{% bootstrap_javascript jquery='full' %} 




{% block content %}

{{ block.super }}
{{ form.media }}

<article class="media content-section">
<h3>ADAUGĂ adresă <br>Punct de Lucru</h3><br>
<div class="form-group col-md-1 mb-0"></div>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.nume_pl|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.localitate|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.strada|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.numar|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.judet|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.alte_detalii|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0" readonly>
            {{ form.client|as_crispy_field }}
        </div>
    </div>
<br>
    <button type="submit" class="btn btn-outline-primary">Salvează PUNCT DE LUCRU</button>
    <a class="btn btn-outline-secondary" href="{% url 'client-detail' client.id %}">Renunță</a>
</form>
<br><br>
</article>
{% endblock content %}

{% block js_block %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'contr_clienti/javas.js' %}"></script>
{% endblock %}

