{% extends 'contr_clienti/base_fara_bara_laterala.html' %}
{% load static %}

            {% block baralaterala %}
            <div class="col-md-4">      
                <div class="content-section">     
                    {% block 1baralaterala %}{% endblock %} 
                    <h4>Contracte de reinnoit: </h4>
                    <div class="list-group-item list-group-item-light">
                        <div class="a">
                        <h6>Contracte care expira in urmatoarele 30 de zile:</h6>
                        {% for contract in contracte_ex %}
                        <ul>
                        {% if contract.zile_pana_la_expirare is not None %}
                        <small><li><a href="{% url 'contract-detail' contract.id %}" class='btn-outline-info'> Contractul {{contract}} exipra in <b> {{contract.zile_pana_la_expirare}} zile. </b></a></li></small>
                        {% endif %}
                        </ul>
                        {% endfor %}
                        <br>
                        <h6>Contracte care au expirat in ultimele 30 de zile:</h6>
                        <ul>
                        {% for contract in contracte_ex %}
                        {% if contract.zile_de_la_expirare is not None %}
                        <small><li> <a href="{% url 'contract-detail' contract.id %}" class='btn-outline-info'> Contractul {{contract}} a expirat de <b style='color:red'> {{contract.zile_de_la_expirare}} zile. </b></a></li></small>
                        {% endif %}
                        {% endfor %}
                        </ul>
                        </div>
                    </div>                 
                    <p class='text-muted'><h4>Informatii utile: </h4>
                        <ul class="list-group">     
                            <li class="list-group-item list-group-item-light">
                                Contracte: {{ultimul_contract.nr_contract}}
                            </li>      
                            <li class="list-group-item list-group-item-light">
                                Ultimul contract/act aditional adaugat: 
                                <ul><small>
                                    <li>Contract: {{ultimul_contract}}</li>
                                    <li>Act aditional: {{ultimul_actaditional}} la contractul {{ultimul_actaditional.contract}}</li>
                                </small></ul>
                            </li>      
                            <li class="list-group-item list-group-item-light">Calendar</li>      
                            <li class="list-group-item list-group-item-light">Alte informatii utile</li>      
                        </ul>      
                    </p>         
                </div>      
            </div> 
            {% endblock %}     
