{% extends 'contr_clienti/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body"> 

            <div class="article-metadata">
                <h3 class="btn-outline-info"><b>Client: {{ client.societate }}</b></h3>
                {% if client.adresass_set.last %}
                    <small class="text-muted mr-3">Sediul social: {{ adresass }}</small>
                {% else %}
                    <small class="text-muted mr-3"> Sediul social: - </small>
                    <a class="float-right" href="{% url 'adresass-nou' client.id %}">+ Sediu social</a>
                {% endif %}
            </div>

            <div>
                <h5 class="article-title">Date client</h5>
                <small class="text-muted"> Cod unic de înregistrare: <b>{{ client.cod_fiscal }} </b></small><br>
                <small class="text-muted"> Platitor de T.V.A.: <b>{{ client.platitor_tva }}</b></small><br>
                <small class="text-muted"> Număr de înmatriculare R.C.: <b>{{ client.nr_registrul_comertului }}</b></small><br>
                <small class="text-muted"> IBAN: <b>{{ client.iban }},</b> deschis la: <b>{{ client.banca_cont }}</b></small><br>
            </div>

            <!--Reprezentanti-->
            <div><br>
                <h5 class="article-title">Reprezentanti</h5>
                <a class="float-right" href="{% url 'reprezentant-nou' client.id %}">+ Reprezentant</a>
                <ul>
                    {% if client.reprezentant_set.all %}
                        {% for reprezentant in reprezentanti %}
                        <li> 
                            <b>{{ reprezentant.nume }}</b> - {{ reprezentant.functie }}</a><br>
                            <small class="text-muted"> Telefon:<b> {% if reprezentant.telefon %} {{ reprezentant.telefon }} {% else %} -{% endif %} </b></small>
                            <small class="text-muted"> &nbsp; &nbsp;Email:<b> {% if reprezentant.email %} {{ reprezentant.email }} {% else %} - {% endif %} </b></small><br>
                        </li>      
                        {% endfor %}
                    {% else %}
                        <small class="text-muted mr-3"> - </small>
                    {% endif %}            
                </ul>
            </div>

            <!--Persoane de Contact-->
            <div><br>
                <h5 class="article-title">Persoane de contact</h5>
                <a class="float-right" href="{% url 'persoanacontact-nou' client.id %}">+ Persoana de Contact</a>
                <ul>
                    {% if client.persoanacontact_set.all %}
                        {% for pc in persoanecontact %}
                        <li> 
                            <b>{{ pc.nume }}</b> - {{ pc.functie }}</a><br>
                            <small class="text-muted"> Telefon:<b> {% if pc.telefon %} {{ pc.telefon }} {% else %} -{% endif %} </b></small>
                            <small class="text-muted"> &nbsp; &nbsp;Email:<b> {% if pc.email %} {{ pc.email }} {% else %} - {% endif %} </b></small><br>        
                    </li>      
                        {% endfor %}
                    {% else %}
                        <small class="text-muted mr-3"> - </small>
                    {% endif %}            
                </ul>
            </div>

            <!--Puncte de lucru-->
            <div><br>
                <h5 class="article-title">Puncte de lucru</h5>
                <a class="float-right" href="{% url 'adresapl-nou' client.id %}">+ Puncete de Lucru</a>
                <ul>
                    {% if client.adresapl_set.all %}
                        {% for pl in punctelucru %}
                        <li> 
                            <b>{{ pl.nume_pl }}</b><br>
                            <small class="text-muted"> Localitate:<b> {% if pl.localitate %} {{ pl.localitate }} {% else %} -{% endif %} </b></small>
                            <small class="text-muted"> &nbsp; &nbsp;Judet:<b> {% if pl.judet %} {{ pl.judet }} {% else %} - {% endif %} </b></small><br>
                            <small class="text-muted"> Strada:<b> {% if pl.strada %} {{ pl.strada }} {% else %} -{% endif %} </b></small>
                            <small class="text-muted"> &nbsp; &nbsp;Numar:<b> {% if pl.numar %} {{ pl.numar }} {% else %} - {% endif %} </b></small><br>
                            <small class="text-muted"> Detalii:<b> {% if pl.alte_detalii %} {{ pl.alte_detalii }} {% else %} - {% endif %} </b></small><br>   
                        </li>      
                        {% endfor %}
                    {% else %}
                        <small class="text-muted mr-3"> - </small>
                    {% endif %}    
                </ul>
            </div><br>

            <div></div>

            <!--Modifica client-->
            <a class="btn btn btn-outline-primary btn-sm mt-1 mb-1" href="{% url 'client-detail-update' client.id %}">Modifica Client</a>

            <!--Stergerea Clientului (Bootstrap Modal)-->
            <button type="button" class="btn btn-outline-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#stergeClient">
                Sterge Client
            </button>
            <div class="modal fade" id="stergeClient" tabindex="-1" role="dialog" aria-labelledby="stergeClientLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="stergeClientLabel">STERGE Client</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="{% url 'client-detail-update' client.id %}" method="POST">
                    <div class="modal-body">
                        <fieldset class="form-group">
                                {% csrf_token %}
                                    <h2>Esti sigur ca vrei sa stergi clientul {{ client }}?</h2>
                                    Aceasta operatiune este ireversibila!   
                        </fieldset>   
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit">Da, Sterge</button>
                            <a class="btn btn-outline-secondary" href="{% url 'client-detail' client.id %}">Anuleaza</a>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>


        </div>
    </article>
    
{% endblock content %}
