{% extends 'contr_clienti/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">    
            <div class="article-metadata">
                <a class="btn-outline-info" type="submit" href="#">Contract de {{ contract.tip_contract }}</a><br>
                <small class="text-muted mr-3"> Nr. reg.: {{ contract.nr_registru }}</small>
                <a class="float-right" href="{% url 'actaditional-nou' contract.id %}">+ Act Aditional</a>
            </div>
            <h2 class="article-title">{{ contract.beneficiar }}</h2>
            <small class="text-muted"> Contract: <b>{{ contract.nr_contract }} / {{ contract.data_contract|date:'d.m.Y' }}</b></small><br>
            {% if contract.actaditional_set.all %}
            <small class="text-muted"> Perioadă contractuală conform contract/act aditional: <b>{{ contract.data_incepere_contract|date:'d.m.Y' }} - {{ contract.data_incheiere|date:'d.m.Y' }}</b></small><br>
            {% endif %}
            <small class="text-muted"> Perioadă contractuală: <b>{{ contract.data_incepere_contract|date:'d.m.Y' }} - {{ contract.data_sfarsit_contract|date:'d.m.Y' }}</b></small><br>
            <small class="text-muted mr-3" href="#"> Acte aditionale: <br>
                <ol>
                    {% for aditional in acteaditionale %}
                    <a class="btn-outline-info" type="submit" href="{% url 'actaditional-detail' contract.id aditional.id %}"><lu>- {{ aditional }}</lu></a>
                    {% endfor %}
                </ol>
            </small>
            <small class="text-muted mr-3">
                <ol>
                {% for aplicatie in aplicatii %}
                    <li><class="article-content"> {{ aplicatie }} - Valoare: {{ aplicatie.contravaloare_aplicatie }} lei</li>
                {% endfor %} 
                {% for serviciu in servicii %}
                    <li><class="article-content"> {{ serviciu }} - Valoare: {{ serviciu.contravaloare_serviciu }} lei</li>
                {% endfor %}
                {% for produs in produse %}
                    <li><class="article-content"> {{ produs }} - Valoare: {{ contract.produs.contravaloare_produs }} lei</li>
                {% endfor %}  
                </ol>
            </small>
            <div class="article-metadata">
                <small class="text-muted mr-3"> Observatii: </small>
            </div>
            <div class="article-metadata">
                <h6>Documente contract:</h6> 
                  <a href="{% url 'contract-upload' contract.id %}" class="btn-outline-info btn-sm">Incarca documente</a>
                <ul>
                {% for document in documente %}
                    <li><small><a href='{{ contract.document.url }}' target='_blank' download>{{document}}</a></small></li>
                {% endfor %}
                </ul>
            </div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'contract-update' contract.id %}">Actualizeaza date contract</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'contract-delete' contract.id %}">Sterge contract</a>
        </div>
    </article>
{% endblock content %}

{% block 2baralaterala %}
<p class='text-muted'><h4>Informatii utile </h4>
    <ul class="list-group">     
        <li class="list-group-item list-group-item-light">
            Contracte: {{ultimul_contract.nr_contract}}
        </li>      
        <li class="list-group-item list-group-item-light">
            Ultimul contract/act aditional adaugat: 
            <ul><small>
                <li>Contract: {{ultimul_contract}}</li>
                <li>Act aditional: {{ultimul_actaditional}} la contractul {{ultimul_actaditional.contract}}</li>
            </small></ul>
        </li>      
        <li class="list-group-item list-group-item-light">Calendar</li>      
        <li class="list-group-item list-group-item-light">Alte informatii utile</li>      
    </ul>      
</p>              
{% endblock %} 