{% extends 'contr_clienti/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">    
            <div class="article-metadata">
                <a class="btn-outline-info" type="submit" href="#">Contract de {{ contract.tip_contract }}</a><br>
                <small class="text-muted mr-3"> Nr. reg.: {{ contract.nr_registru }}</small>
                {% if user.is_authenticated %} 
                <a class="float-right" href="{% url 'actaditional-nou' contract.id %}">+ Act Aditional</a>
                {% endif %}
            </div>
            <h2 class="article-title">{{ contract.beneficiar }}</h2>
            <small class="text-muted"> Contract: <b>{{ contract.nr_contract }} / {{ contract.data_contract|date:'d.m.Y' }}</b></small><br>
            {% if contract.actaditional_set.all %}
            <small class="text-muted"> Perioadă contractuală conform contract/act aditional: <b>{{ contract.data_incepere_contract|date:'d.m.Y' }} - {{ contract.data_incheiere|date:'d.m.Y' }}</b></small><br>
            {% endif %}
            <small class="text-muted"> Perioadă contractuală: <b>{{ contract.data_incepere_contract|date:'d.m.Y' }} - {{ contract.data_sfarsit_contract|date:'d.m.Y' }}</b></small><br>
            <small class="text-muted mr-3" href="#"> Acte aditionale: <br>
                <ul>
                    {% for aditional in acteaditionale %}
                    <li><a class="btn-outline-info" type="submit" href="{% url 'actaditional-detail' contract.id aditional.id %}">{{ aditional }}</a></li>
                    {% endfor %}
                </ul>
            </small><br>
            <small class="text-muted mr-3">
                {% if contract.aplicatii.all %} Aplicatii:
                <ol>
                {% for aplicatie in aplicatii %}
                    <li><class="article-content"> {{ aplicatie }} - Valoare: {{ aplicatie.abonament_aplicatie_fara_tva }} lei</li>
                {% endfor %}
                </ol>
                {% endif %} 
                {% if contract.servicii.all %} Servicii:
                <ol>
                {% for serviciu in servicii %}
                    <li><class="article-content"> {{ serviciu }} - Valoare: {{ serviciu.contravaloare_serviciu_fara_tva }} lei</li>
                {% endfor %}
                </ol>
                {% endif %} 
                {% if contract.produse.all %} Produse:
                <ol>
                {% for produs in produse %}
                    <li><class="article-content"> {{ produs }} - Valoare: {{ produs.pret_vanzare_fara_tva }} lei</li>
                {% endfor %}  
                </ol>
                {% endif %}
            </small>
            <div class="article-metadata">
                <small class="text-muted mr-3"> Observatii: <i>{{ contract.observatii }}</i></small>
            </div>

            <!--Afisarea documentelor aferente contractului-->
            <div class="article-metadata">
                <h6>Documente contract:</h6>   
                <ul>
                {% for document in documente %}
                    <li><small><a href="{{ document.documente.url }}" target='_blank' download>{{document}}</a>
            
                        <!--Stergerea documentelor aferente contractului-->
                        {% csrf_token %}
                        {% if user.is_authenticated %} 
                        &nbsp;-->&nbsp;<a href="{% url 'documentc-delete' contract.id document.id %}" type="submit" class="btn-outline-info" data-toggle="modal" data-target="#stergeDocument">sterge</a>
                        {% endif %} 
                        <div class="modal fade" id="stergeDocument" tabindex="-1" role="dialog" aria-labelledby="stergeDocumentLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="stergeDocumentLabel">STERGE document</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{% url 'documentc-delete' contract.id document.id %}" method="POST">
                                <div class="modal-body">
                                    <fieldset class="form-group">
                                            {% csrf_token %}
                                                <h4>Esti sigur ca vrei sa stergi documentul: <br> {{ document }}?</h4>
                                                Aceasta operatiune este ireversibila!   
                                    </fieldset>   
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button class="btn btn-outline-danger" type="submit">Da, Sterge</button>
                                        <a class="btn btn-outline-secondary" href="{% url 'contract-detail' contract.id %}"">Anuleaza</a>
                                    </div>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    </small></li>      
                {% endfor %}
                </ul>
                {% if user.is_authenticated %} 
                <small><a href="{% url 'contract-upload' contract.id %}" class="btn-outline-info">Incarca documente</a></small>
                {% endif %} 
            </div>

            <!--Actualizarea contractului-->
            {% if user.is_authenticated %} 
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'contract-update' contract.id %}">Actualizeaza date contract</a>

            <!--Stergerea contractului (Bootstrap Modal)-->
            <button type="button" class="btn btn-danger btn-sm mt-1 mb-1" data-toggle="modal" data-target="#stergeContract">
                Sterge Contract
            </button>
            <div class="modal fade" id="stergeContract" tabindex="-1" role="dialog" aria-labelledby="stergeContractLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="stergeContractLabel">STERGE Contract</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="{% url 'contract-delete' contract.id %}" method="POST">
                    <div class="modal-body">
                        <fieldset class="form-group">
                                {% csrf_token %}
                                    <h2>Esti sigur ca vrei sa stergi contractul {{ contract }}?</h2>
                                    Aceasta operatiune este ireversibila!   
                        </fieldset>   
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button class="btn btn-outline-danger" type="submit">Da, Sterge</button>
                            <a class="btn btn-outline-secondary" href="{% url 'contract-detail' contract.id %}"">Anuleaza</a>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %} 
        </div>
    </article>
{% endblock content %}

{% block 2baralaterala %}
<p class='text-muted'><h4>Informatii utile </h4>
    <ul class="list-group">     
        <li class="list-group-item list-group-item-light">
            Contracte: {{ultimul_contract.nr_contract}}
        </li>      
        <li class="list-group-item list-group-item-light">
            Ultimul contract/act aditional adaugat: 
            <ul><small>
                <li>Contract: {{ultimul_contract}}</li>
                <li>Act aditional: {{ultimul_actaditional}} la contractul {{ultimul_actaditional.contract}}</li>
            </small></ul>
        </li>      
        <li class="list-group-item list-group-item-light">Calendar</li>      
        <li class="list-group-item list-group-item-light">Alte informatii utile</li>      
    </ul>      
</p>              
{% endblock %} 