{% extends 'contr_clienti/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% for contract in contracte %}
        <article class="media content-section">
            <div class="media-body">    
                <div class="article-metadata">    
                    <small><a class="text-muted mr-3" href="{% url 'contract-detail' contract.id %}"> Contract: <b>{{ contract.nr_contract }}/{{ contract.data_contract|date:'d.m.Y' }}</b></a></small>
                    <small class="text-muted mr-3"> Nr. reg.: {{ contract.nr_registru }}</small>  
                    {% for aditional in contract.actaditional_set.all %}
                    <small class="text-muted mr-3"> Act ad.: {{ aditional.nr_actaditional }}/{{ aditional.data_actaditional|date:'d.m.Y' }}</small> 
                    {% endfor %}
                </div>    
                <h5><b><a class="article-title" href="{% url 'contract-detail' contract.id %}">{{ contract.beneficiar }}</a></b></h5>  
                <a class="float-right" href="#">{{ contract.tip_contract }}</a>
                <small class="text-muted"> Perioadă contractuală: <b>{{ contract.data_incepere_contract|date:'d.m.Y' }} - {{ contract.data_incheiere|date:'d.m.Y' }}</b></small>  
                <p><small><ol>
                {% for aplicatie in contract.aplicatii.all %}
                    <li><class="article-content"> {{ aplicatie }} </li> 
                {% endfor %}  
            
                {% for serviciu in contract.servicii.all %}
                    <li><class="article-content"> {{ serviciu }} </li>
                {% endfor %}
                
                {% for produs in contract.produse.all %}
                    <li><class="article-content"> {{ produs }} </li>  
                {% endfor %}
                </ol></small></p>   
            </div>    
        </article>
    {% endfor %}
 

        {% if contracte.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">Prima</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ contracte.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        {% endif %}

        {% for num in contracte.paginator.page_range %}
            {% if contracte.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > contracte.number|add:'-3' and num < contracte.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if contracte.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ contracte.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            <a class="btn btn-outline-info mb-4" href="?page={{ contracte.paginator.num_pages }}">Ultima</a>
        {% endif %}
 
{% endblock content %}


{% block 1baralaterala %}
<h4>Filtrează contractele în funcție de:</h4>
<div class="list-group-item list-group-item-light">
<form method="get">
    <div class="form-row">
        <small>{{ myFilter.form.beneficiar|as_crispy_field }}</small>
    </div>
    <div class="form-row">
        <small>{{ myFilter.form.data_inceput|as_crispy_field }}</small>
    </div>
    <div class="form-row">
        <small>{{ myFilter.form.data_sfarsit|as_crispy_field }}</small>
    </div>
    <button class="btn btn-outline-info" type="submit">Filtrează</button></br>
</form>    
</div>
{% endblock %} 


