{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load bootstrap4 %} 
{% bootstrap_css %}   
{% bootstrap_javascript jquery='full' %} 




{% block content %}

{{ block.super }}
{{ form.media }}

<h3> Adauga Persoana de contact</h3>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.nume|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.telefon|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.functie|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.client|as_crispy_field }}
        </div>
    </div>
<br>
    <button type="submit" class="btn btn-primary">Salveaza persoana de contact</button>
    <a class="btn btn-outline-secondary" href="{% url 'client-detail' client.id %}">Renunta</a>
</form>
<br><br>

{% endblock content %}

{% block js_block %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'contr_clienti/javas.js' %}"></script>
{% endblock %}

