{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load bootstrap4 %} 
{% bootstrap_css %}   
{% bootstrap_javascript jquery='full' %} 




{{ block.super }}
{{ form.media }}

<h3> Contract nou </h3>
<form method="post">
    {% csrf_token %}

<br><h4>Obiectul contractului</h4>


                <div>
                    &nbsp; &nbsp;{{ form.produse|as_crispy_field }}
                </div>
                <div>
                    &nbsp; &nbsp;{{ form.beneficiar|as_crispy_field }}
                </div>
         

    <button type="submit" class="btn btn-primary">Salveaza produse</button>
    <a class="btn btn-outline-secondary" href="{% url 'acasa' %}"">Renunta</a>
</form>
<br><br>


{% block js_block %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{% static 'contr_clienti/javas.js' %}"></script>
{% endblock %}

