{% extends 'contr_clienti/base_fara_bara_laterala.html' %}
{% load crispy_forms_tags %}
{% block content %}


<h2>Registru CONTRACTE</h2>
<p>
  sa pun o optiune sa selectez perioada.....
</p>


<table class="c">
    <thead>
        <tr>
            <th>Nr. registru</th>
            <th>Contract / Actaditional</th>
            <th>Nr./Data</th>
            <th>Nr./Data Beneficiar</th>
            <th>Beneficiar</th>
            <th>Produse / Servicii / Aplicatii</th>
            <th>Valoare contract</th>
            <th>Nr./Data Fisa de Analiza</th>
            <th>Observatii</th>
        </tr>
    </thead>
    <tbody>
        {% for item in reg %}
            <tr>
                <td align="center">{{ item.nr_registru }}</td>
                <td align="center">
                    {% if item.nr_contract %}contract
                    {% else %} act aditional <small> la contractul {{ item.contract.nr_contract }}/{{ item.contract.data_contract|date:'d.m.Y' }}</small>
                    {% endif %}
                </td>
                <td align="center">{{ item.nr_contract }}{{ item.nr_actaditional }}/{{ item.data_contract|date:'d.m.Y' }}{{ item.data_actaditional|date:'d.m.Y' }}</td>
                <td align="center"><span class="text-muted">-</span></td>
                <td>{{ item.beneficiar }}{{ item.contract.beneficiar }}</td>
                <td>
                    <ol><small>
                        {% for aplicatie in item.aplicatii.all %}
                            <li><class="article-content"> {{ aplicatie }} </li> 
                        {% endfor %}  
                        {% for aplicatie in item.contract.aplicatii.all %}
                            <li><class="article-content"> {{ aplicatie }} </li> 
                        {% endfor %}
                    
                        {% for serviciu in item.servicii.all %}
                            <li><class="article-content"> {{ serviciu }} </li>
                        {% endfor %}
                        {% for serviciu in item.contract.servicii.all %}
                        <li><class="article-content"> {{ serviciu }} </li>
                        {% endfor %}
                        
                        {% for produs in item.produse.all %}
                            <li><class="article-content"> {{ produs }} </li>  
                        {% endfor %}
                        {% for produs in item.contract.produse.all %}
                            <li><class="article-content"> {{ produs }} </li>  
                        {% endfor %}
                    </small></ol>
                </td>
                <td align="center"><span class="text-muted">-</span></td>
                <td align="center"><span class="text-muted">-</span></td>
                <td><small>{{ item.observatii }}</small></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}