{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}


<h3> Modifica reprezentant</h3>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.nume|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.email|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.telefon|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.functie|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.client|as_crispy_field }}
        </div>
    </div>
<br>
    <button type="submit" class="btn btn-primary">Modifica reprezentant</button>
    <a class="btn btn-outline-secondary" class="close" data-dismiss="modal" aria-label="Close">Renunta</a>
</form>
<br><br>

{% endblock content %}

