{% extends "contr_clienti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<article class="media content-section">
<h3>MODIFICĂ <br>Reprezentant</h3><br>
<div class="form-group col-md-1 mb-0"></div>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.nume|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.email|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.telefon|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.functie|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.client|as_crispy_field }}
        </div>
    </div>
<br>
    <button type="submit" class="btn btn-outline-primary">Modifică REPREZENTANT</button>
    <a class="btn btn-outline-secondary" href="{% url 'client-detail-update' client.id %}">Renunță</a>
</form>
<br><br>
</article>
{% endblock content %}

